# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/
next-env.d.ts

# Env
.env
.env.local
.env.*.local
!.env.example

# Supabase
supabase/.temp/
supabase/.branches/

# Misc
.DS_Store
*.log
.vercel
.turbo
*.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
